@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.messageInput {
    margin-bottom: 10px !important;
    /*width: 40% !important;*/
}

.previewInput {
    border: 1px solid black !important;
    background-color: #222f3e !important;
    margin-bottom: 10px !important;
    color: #ff3838 !important;
    font-family: 'Press Start 2P', cursive;
}